.nav {
    grid-area: n;
    background-color: rgb(236, 209, 177);
    padding: 25px;
  }

  .nav .friends{
    grid-area: n;
    background-color: rgb(236, 209, 177);
    padding: 25px;
    grid-template-areas:
    "f1 f2 f3";
    grid-template-rows: 60px;
    grid-template-columns: 60px 60px 60px;
  }

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
  color: rgb(143, 30, 30);
}

.friends {
  grid-area: n;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}